@bodyBG: #33383A;
@cream: hsl(40,30%,95%);
@titleColor: #abc;
body {
  background: @bodyBG;
  color:white;
  text-align:center;
  font-family:"Ubuntu";
}

#simon {
  width:800px;
  max-width:100%;
  min-width:300px;
  height:auto;
  margin:0 auto;
  .board {
    padding-bottom:100%;
    background-color:transparent;
    //background:#555;
    border-radius:50%;
    position:relative;
    //box-shadow:0 3px 4px rgba(0,0,0,0.5);
    .btnOuter {
      width:50%;
      height:100%;
      position:absolute;
      transform-origin:center left;
      overflow:hidden;
      pointer-events:none;
    }
    .btnInner {
      width:100%;
      height:100%;
      position:absolute;
      transform-origin:center left;
      overflow:hidden;
    }
    .btnTarget {
      width:192%;
      height:96%;
      left:-96%;
      top:2%;
      border-radius:50%;
      position:absolute;
      pointer-events:auto;
      overflow:hidden;
      background-blend-mode:exclude;
      background-image:radial-gradient(rgba(100,100,100,0.85),rgba(100,100,100,0.85));
      cursor:pointer;
      &.pressed, &.indicate {
          background-blend-mode:lighten;
      }
      &.wrong {
        background-image:radial-gradient(#D00 52%, #F88 61%, #D00 70%);
      }
    }

    .boardCenter {
      position:absolute;
      width:60%;
      height:60%;
      background:@bodyBG;
      //background:#555;
      z-index:500;
      left:20%;
      top:20%;
      border-radius:50%;
      .bg {
        width:50%;
        height:50%;
        left:25%;
        top:25%;
        position:absolute;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:160px;
        user-select:none;
        -webkit-touch-callout: none; /* iOS Safari */
        //text-shadow:0 1px 0 white;
        color:darken(@cream,5%);
      }
      .title {
        position:relative;
        margin:20% -20% 0;
        width:140%;
        h1 {
          font-style:italic;
          fill:@titleColor;
          color:@cream;
          margin:0;
        }

      }
      .boardCenterInner {
        position: absolute;

        width: 90%;
        top: 5%;
        left: 5%;
        height: 90%;
        border-radius: 50%;
        overflow:hidden;
      }
      .controls {
        z-index: 10;

        #psiReset {
          opacity:0.2;
        }
        .settings {
          background: @cream;
          .levelBar {
            background: @cream;
            position:relative;
            .level {
              display:none;
              position:relative;
              z-index:2;
            }
            .timer {
              z-index:1;
              height:100%;
              position:absolute;
              top:0;
              left:5%;
              width:90%;
              background-color:lighten(@bodyBG,4%);
              &.urgent {
                background-color:#D00;
              }
            }
          }
        }
        .actions {
          background: @cream;
        }
        #psiReset {
          display:none;
        }
        &.userTurn #psiReset {
          opacity:1;
        }
        &.playing {
          .difficulty,
          #psiStart {
            display:none;
          }
          .settings .levelBar .level, #psiReset {
            display:block;
          }
        }
        .messages {
          position:absolute;
          left:50%;
          top:50%;
          margin-left:-50%;
        }
      }

    }
  }

}
