doctype html
html(lang="en")
  head
    title psimon
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='css/main.css')
  body
    #simon
      .simonInner
        .board
          .boardCenter
            .boardCenterInner
              //.bg &Psi;
              .stats
              .title
                h1
                  svg(viewbox="0 0 240 40")
                    title psimon
                    use(xlink:href='#psimonTitle')
              #psiControls.controls
                .controlsSlider
                  .controlsTop
                    .difficulty
                      span.label difficulty
                      .buttonSet
                        button.stepper.plus(value="plus") 
                        #psiDifficulty(data-difficulty="7") 7
                        button.stepper.minus(value="minus")
                    .actions
                      button#psiStart start    
                  .controlsBottom           
                    .strictness
                      label.checkSlide
                        span.label strict
                        input#psiStrictness(type='checkbox', name='strict')
                        .slider
                          .peg
                    .actions
                      button#psiReset reset 
                  .levelBar
                    .timer   
              .readout WELCOME
          .buttonsContainer  
    include svg/psimon.svg
    script(src='js/bundle.js')
    
