doctype html
html(lang="en")
  head
    title psimon
    link(rel='stylesheet', href='css/main.css')
  body
    h1 psimon
    #simon
      .board
        .boardCenter
          .bg &Psi;
          .display
          .controls
        .buttonsContainer 
    script(src='js/bundle.js')
