doctype html
html(lang="en")
  head
    title psimon
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='css/main.css')
  body
    #psimon.psi
      .psi_outerWrapper
        .psi_innerWrapper
          .psiCenter
            .psiCenter_inner
              //.bg &Psi;
              .psiStats
              .psiTitle
                h1
                  svg(viewbox="0 0 240 40",xmlns="http://www.w3.org/2000/svg")
                    title psimon
                    use(xlink:href='#psimonTitle')
              #psiControls.psiControls 
                .psiControls_slider
                  .psiControls_top
                    .psiDifficulty
                      span.psiDifficulty_label difficulty
                      .psiDifficulty_buttonset
                        button.psiDifficulty_stepper.plus(value="1") 
                        #psiDifficulty
                        button.psiDifficulty_stepper.minus(value="-1")
                    button#psiStart.psiControls_action start    
                  .psiControls_bottom           
                    
                    label.checkSlide
                      span.psiControls_label strict
                      input#psiStrictness(type='checkbox', name='strict')
                      .checkSlide_slider
                        .checkSlide_peg
                    button#psiReset.psiControls_action reset 
                  .psiLevelBar
                    .psiLevelBar_timer   
              .psiReadout WELCOME
          .buttonsContainer
          svg#sequenceButtons.psiSeq(viewbox="-100 -100 200 200",xmlns="http://www.w3.org/2000/svg")  
    include svg/psimon.svg
    script(src='js/bundle.js')
    
