doctype html
html(lang="en")
  head
    title psimon
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='css/main.css')
  body
    #simon
      .simonInner
        .board
          .boardCenter
            .boardCenterInner
              //.bg &Psi;
              .stats
              .title
                h1
                  svg(viewbox="0 0 240 40")
                    title psimon
                    use(xlink:href='#psimonTitle')
              .controls
                .controlsTop
                  .difficulty
                    span difficulty
                    .buttonSet
                      button.stepper.plus(value="plus") &#8679;
                      #psiDifficulty(data-difficulty="7") 7
                      button.stepper.minus(value="minus") &#8681;
                  .levelBar
                    .timer
                    .level
                      |level
                      span#psiLevel 1
                .controlsBottom                    
                  .strictness
                    label.checkSlide
                      span strict
                      input#psiStrictness(type='checkbox', name='strict')
                      .slider
                        .peg
                  .actions
                    button#psiStart start
                    button#psiReset reset 
              .messages
          .buttonsContainer  
    include svg/psimon.svg 
    script(src='js/bundle.js')
    
